@model ReactJsAnnotation.Models.vmRegisterContainer

@{
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "registerFormId" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div id="container"></div>
}

<script type="text/javascript">
	@*var registerModel = @Html.Raw((Json.Serialize(Model.AllPropertyAnnotation)));*@
</script>

<script src="~/lib/react/react.js"></script>
<script src="~/lib/react/react-dom.js"></script>

<script type="text/javascript" src="~/js/common/collection.js"></script>
<script type="text/javascript" src="~/js/common/dictionary.js"></script>
<script type="text/javascript" src="~/js/common/enums.js"></script>
<script type="text/javascript" src="~/js/common/models/dataannotations.js"></script>
<script type="text/javascript" src="~/js/common/helpers/htmlutility.js"></script>
<script type="text/javascript" src="~/js/common/helpers/tagbuilder.js"></script>
<script type="text/javascript" src="~/js/common/helpers/inputhelper.js"></script>

<!-- DECORATOR -->
<script type="text/javascript" src="~/js/typings/decorator.js"></script>
<script type="text/javascript" src="~/js/models/vmregister.js"></script>
<!-- DECORATOR -->
<script type="text/javascript" src="~/js/register/register.js"></script>